#active-channels-wrapper {
  height: calc(100vh - 52px);
  position: absolute;
  top: 0;
  left: 90%;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: 1s ease all;
  -o-transition: 1s ease all;
  transition: 1s ease all;
}

#active-channels-list {
  height: 100%;
  overflow: auto;
  width: 100%;
}

#active-channels-wrapper.hide-list {
  -webkit-transform: translateX(60%);
  transform: translateX(60%);
}

#active-channels-wrapper.show-list {
  -webkit-transform: translateX(-40%);
  transform: translateX(-40%);
}

.active-channel .image-cropper {
  width: 100%;
  height: 6em;
  position: relative;
  overflow: hidden;
  border-radius: 8%;
}

.active-channel {
  line-height: 0.9;
}

.active-channel img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.height-5em {
  height: 5em;
}

.height-100 {
  height: 100%;
}

.mid-align {
  height: 100%;
  display: flex;
  align-items: center;
}

.fa:hover {
  cursor: pointer;
}
