#show-list-wrapper {
  position: absolute;
  right: 0;
  z-index: 2;
  margin-top: 70px;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease 1s;
  -o-transition: opacity 0.5s ease 1s;
  transition: opacity 0.5s ease 1s;
}

#show-list-wrapper.show {
  opacity: 1;
}

#show-list-button {
  border-radius: 25px 0 0 25px;
  z-index: 2;
  opacity: 0.4;
  -webkit-transition: opacity 0.5s ease 0s;
  -o-transition: opacity 0.5s ease 0s;
  transition: opacity 0.5s ease 0s;
}

#show-list-button:hover {
  opacity: 1;
}

#hide-list-wrapper:hover {
  cursor: pointer;
}

.panel-body {
  padding: 0 15px;
}

.active-channel {
  line-height: 0.9;
  height: 100%;
  padding: 2px 5px 5px 5px;
  overflow: hidden;
}

.active-channel h3 {
  text-align: center;
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 4%;
}

.active-channel p {
  font-size: 0.8em;
}

.active-channel img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.active-channel .image-cropper {
  width: 100%;
  height: 6em;
  position: relative;
  overflow: hidden;
  border-radius: 8%;
}

.mid-align {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

      @media (max-width: 767px) {
        #active-channels-wrapper {
          height: 0;
          min-height: 0;
          overflow: hidden;
          -webkit-transition: all 1s ease 0s;
          -o-transition: all 1s ease 0s;
          transition: all 1s ease 0s;
          z-index: 2;
        }

        #active-channels-wrapper {
          padding: 0;
          margin-top: 5px;
        }

        #active-channels-list .panel-body-wrapper {
          padding-left: 0;
          padding-right: 0;
        }

        #active-channels-wrapper.show-list {
          height: 220px;
        }

        .panel-body-wrapper {
          height: 150px;
        }

        .active-channel {
          margin-top: 10px;
        }

        .no-margin-top {
          margin-top: 0;
        }

        .negative-margin-top {
          margin-top: -280px;
        }
      }

      @media (min-width: 768px) {
        #active-channels-wrapper {
          height: calc(100vh - 52px);
          margin-top: 10px;
          position: absolute;
          left: 90%;
          -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
          transform: translateX(0);
          -webkit-transition: 1s ease all;
          -o-transition: 1s ease all;
          transition: 1s ease all;
          z-index: 2;
        }

        #active-channels-wrapper.hide-list {
          -webkit-transform: translateX(60%);
          transform: translateX(60%);
        }

        #active-channels-wrapper.show-list {
          -webkit-transform: translateX(-40%);
          transform: translateX(-40%);
        }

        #show-list-wrapper {
          top: 200px;
        }

        #active-channels-list {
          height: calc(100vh - 64px);
          overflow: auto;
        }

        .active-channel {
          margin: 10px 0;
        }

        .active-channel h3 {
          font-size: 1.4em;
          margin-top: 0;
          padding-left: 2%;
        }

        .active-channel p {
          font-size: 1em;
        }

        .active-channel small {
          font-size: 0.8em;
        }
      }
