@media (max-width: 767px) {
  #active-channels-wrapper {
    /* height: calc(100vh - 52px);
    position: absolute;
    top: 0;
    left: 90%; */
    height: 0;
    min-height: 0;
    overflow: hidden;
    /* -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); */
    -webkit-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
    z-index: 2;
  }

  #active-channels-wrapper {
    padding: 0;
    margin-top: 5px;
  }

  #active-channels-list .panel-body-wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  #active-channels-wrapper.show-list {
    height: 220px;
  }

  .panel-body-wrapper {
    height: 150px;
    overflow: hidden;
  }

  .no-margin-top {
    margin-top: 0;
  }

  .negative-margin-top {
    margin-top: -280px;
  }
}

@media (min-width: 768px) {
  #active-channels-wrapper {
    height: calc(100vh - 52px);
    position: absolute;
    left: 90%;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: 1s ease all;
    -o-transition: 1s ease all;
    transition: 1s ease all;
    z-index: 2;
  }

  #active-channels-wrapper.hide-list {
    -webkit-transform: translateX(60%);
    transform: translateX(60%);
  }

  #active-channels-wrapper.show-list {
    -webkit-transform: translateX(-40%);
    transform: translateX(-40%);
  }

  #show-list-wrapper {
    top: 200px;
  }

  #active-channels-list {
    height: calc(100vh - 64px);
    overflow: auto;
  }
}



/* #active-channels-wrapper.show-list {
  width: 100%;
  height: 220px;
} */

#show-list-wrapper {
  position: absolute;
  /* top: 100px; */
  right: 0;
  z-index: 2;
  margin-top: 70px;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease 1s;
  -o-transition: opacity 0.5s ease 1s;
  transition: opacity 0.5s ease 1s;
}

#show-list-wrapper.show {
  opacity: 1;
}

#show-list-button {
  border-radius: 25px 0 0 25px;
  z-index: 2;
  opacity: 0.4;
  -webkit-transition: opacity 0.5s ease 0s;
  -o-transition: opacity 0.5s ease 0s;
  transition: opacity 0.5s ease 0s;
}

#show-list-button:hover {
  opacity: 1;
}

.panel-body {
  padding: 0 15px;
}

.active-channel {
  line-height: 0.9;
  margin-bottom: 1px;
  height: 100%;
}

.active-channel img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.active-channel .image-cropper {
  width: 100%;
  height: 6em;
  position: relative;
  overflow: hidden;
  border-radius: 8%;
}

/* #active-channels-wrapper {
  height: calc(100vh - 52px);
  position: absolute;
  top: 0;
  left: 90%;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: 1s ease all;
  -o-transition: 1s ease all;
  transition: 1s ease all;
  z-index: 2;
}

#active-channels-list {
  height: calc(100vh - 64px);
  overflow: auto;
  width: 100%;
}

#active-channels-wrapper.hide-list {
  -webkit-transform: translateX(60%);
  transform: translateX(60%);
}

#active-channels-wrapper.show-list {
  -webkit-transform: translateX(-40%);
  transform: translateX(-40%);
}

#show-list-wrapper {
  position: absolute;
  left: -6em;
  top: 12em;
}

#show-list-button {
  border-radius: 25px 0 0 25px;
}

.active-channel .image-cropper {
  width: 100%;
  height: 6em;
  position: relative;
  overflow: hidden;
  border-radius: 8%;
}

.list-group-item.active-channel:hover {
  border: 1px solid #235585;
  background-color: #D4EAF6;
}

#hide-list-tooltip {
  margin-left: 20px;
}

#toggle-active-channels-visibility {
  margin: 1em 0;
}

.active-channel {
  line-height: 0.9;
  margin-bottom: 1px;
}

.active-channel img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.height-5em {
  height: 5em;
}

.height-100 {
  height: 100%;
}

.mid-align {
  height: 100%;
  display: flex;
  align-items: center;
}

.fa:hover {
  cursor: pointer;
}

@media (max-width: 767px) {
  #active-channels-wrapper {
    display: none;
  }
} */
