#channel-display-space {
  height: calc(100vh - 52px);
  transition: margin-top 1s;
  -webkit-transition: margin-top 1s;
}

.channel-display {
  display: inline-block;
}

#channel-display-wrapper {
  transition: width 1s;
  -webkit-transition: width 1s;
}

.margin-top-115px {
  margin-top: 115px;
}
