#channel-display-wrapper {
  transition: width 1s;
  -webkit-transition: width 1s;
}

#channel-display-space {
  height: calc(100vh - 52px);
}

.close-channel-button {
  position: absolute;
  top: 5px;
  right: 20px;
  z-index: 2;
  float: right;
  color: #fff;
  border: 2px solid #fff;
  padding: 0 5px;
  border-radius: 3px;
  opacity: 0.5;
  -webkit-transition: opacity 0.5s ease 0s;
  -o-transition: opacity 0.5s ease 0s;
  transition: opacity 0.5s ease 0s;
}

.close-channel-button:hover {
  opacity: 1;
  cursor: pointer;
}

/* #channel-display-space {
  height: calc(100vh - 52px);
  transition: margin-top 1s;
  -webkit-transition: margin-top 1s;
}

.channel-display {
  display: inline-block;
}

#channel-display-wrapper {
  transition: width 1s;
  -webkit-transition: width 1s;
}

.close-channel-button {
  position: absolute;
  top: 0;
  left: 99%;
}

.margin-top-115px {
  margin-top: 115px;
}

.margin-top--115px {
  margin-top: -115px;
} */
