.search-component {
  height: calc(100vh - 52px);
}

.search-result {
  font-size: 9px;
  text-align: center;
  border: 1px solid #000;
  padding: 0;
}

.image-cropper {
  width: 80px;
  height: 80px;
  position: relative;
  top: 0px;
  left: 2px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 5px;
}

.search-result img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}
