/* .App, .app-grid {
  text-align: center;
}

#app-grid {
  position: relative;
  overflow-y: inherit;
}

    @media (min-width: 768px) {
      #app-grid {
        height: calc(100vh - 52px);
        overflow: hidden;
      }
    } */
